.AddNew {
  display: block;
  margin: 16px 16px 0;
  padding: 5px 10px;
  font-size: 1.4rem;
  color: #939191;
  background: #f0eeee;
  border: #e6e3e3 1px solid;
  text-align: center;
  width: 75%;
  cursor: pointer;
}
