
.FormBoard {
  margin: 50px auto;
  width: 80%;

  .container {
    width: 70%;
    background-color: white;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: flex-start;
    float: left;
    margin-left: 12.2%;
  }

  .formTitle {
    width: 100%;
    padding-left: 120px;
    border-bottom: 1px;
  }

  .toolbar {
    width: 5%;
    float: left;
    padding: 0 10px;
  }
}
