.FormBoard {
  margin: 50px auto;
  width: 80%;

  .container {
    width: 70%;
    background-color: white;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-content: flex-start;
    float: left;
    margin-left: 12.2%;
  }

  .formTitle {
    width: 100%;
    padding-left: 120px;
    border-bottom: 1px;

    .underline {
      content: '';
      display: block;
      position: relative;
      bottom: 0;
      left: -65px;
      margin-bottom: 20px;
      padding: 0;
      width: 80%;
      height: 2px;
      opacity: 0.5;
      border: none;
      background: #2d9cdb - 70%;
      font-size: 1px;
      will-change: transform, visibility;
      transition: all 250ms ease-in-out;
      transform: scaleX(0);
      visibility: hidden;
      z-index: 10;
    }

    .Title {
      border: 0;
      width: 80%;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      outline: none;
      height: 50px;
      font-size: 1.4rem;

      &:focus {
        border: 0;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
      }

      &:focus ~ hr.underline {
        transform: scaleX(1);
        visibility: visible;
      }
    }
  }

  .toolbar {
    width: 5%;
    float: left;
    padding: 0 10px;
  }
}
