.FormBlock {
  padding: 25px 120px;
  background-color: white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.5px solid #eee;
  width: 100%;
  height: 200px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  .FormPlaceHolder {
    text-align: center;
  }
}

.active {
  padding: 25px 120px;
  background-color: white;
  border-top: 0;
  border-left: 2.5px solid blue;
  border-right: 0;
  border-bottom: 0.5px solid #eee;
  width: 100%;
  height: 200px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: '2px 19px 33px 0px rgba(0,0,0,0.14)';
  -moz-box-shadow: '2px 19px 33px 0px rgba(0,0,0,0.14)';
  box-shadow: '2px 19px 33px 0px rgba(0,0,0,0.14)';
}
